[submodule "app/src/main/cpp/libjamesdsp"]
	path = app/src/main/cpp/libjamesdsp
	url = https://github.com/051-lab/JamesDSPManager.git
	branch = extensions
[submodule "cpp/libjamesdsp"]
	branch = extensions
